services:
  ros2-humble-tigervnc-ros2-control:
    build:
      context: .
      dockerfile: Dockerfile-vnc-ros2-control
      args:
        USER_ID: ${ROS_USER_ID:-1000}
        GROUP_ID: ${ROS_GROUP_ID:-1000}
    image: ros2-humble-tigervnc-ros2-control
    container_name: ros2-humble-tigervnc-ros2-control
    user: "${ROS_USER_ID:-1000}:${ROS_GROUP_ID:-1000}"
    environment:
      USER: ros
      PASSWORD: change-me
      VNC_GEOMETRY: 1600x900
      VNC_DEPTH: "24"
      VNC_PORT: "5901"
      NO_VNC_PORT: "6080"
      QT_X11_NO_MITSHM: "1"
      LIBGL_DRI3_DISABLE: "1"
      RMW_IMPLEMENTATION: rmw_fastrtps_cpp # rmw_cyclonedds_cpp
      ROS_DOMAIN_ID: "7"
      ROS_AUTOMATIC_DISCOVERY_RANGE: LOCALHOST
      PYTHON_EXECUTABLE: /usr/bin/python3
    ports:
      - "6082:6080" # noVNC browser access
      - "5902:5901" # TigerVNC client
    volumes:
      - ../../src:/home/ros/ros2_ws/src
    labels:
      devcontainer.metadata: >-
        {"remoteUser":"ros","workspaceFolder":"/home/ros/ros2_ws"}
    shm_size: "2gb"
    tty: true
