services:
  jazzy-xfce:
    build:
      context: .
      args:
        INSTALL_PACKAGE: desktop # 'ros-base' or 'desktop' for full GUI tools
    image: ros2-jazzy-xfce-vnc
    container_name: ros2-jazzy-xfce
    environment:
      USER: ubuntu
      PASSWORD: change-me
      VNC_GEOMETRY: 1600x900
      VNC_DEPTH: "24"
      VNC_PORT: "5901"
      NO_VNC_PORT: "6080"
    ports:
      - "8080:6080" # browser (noVNC)
      - "5901:5901" # VNC client
    volumes:
      - ./ros2_ws:/home/ubuntu/ros2_ws
    # Uncomment for NVIDIA GPU
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - capabilities: ["gpu"]
    # runtime: nvidia
